@import url(https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap);
body {
    background-image: linear-gradient(to bottom, #355C7D, #6C5B7B, #C06C84);
    background-repeat: no-repeat;
    height: 5000px;
    margin:0;
    padding: 0;
}
.navigation{
    list-style: none;
    font-size: 0;
    top: 0px;
    position: sticky;
    margin: 0 auto;
    width: 50%;
}
.navigation li{
    display: inline-block;
}
.navigation li a{
    display: block;
    color: white;
    text-decoration: none;
    font-family: 'Open Sans', sans-serif; 
    font-size: 18px;
    padding: 20px 15px;
}
.navigation li a:hover{
    opacity: .5;
    transition: 0.5s;
}
.projects{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 3rem;
}
.projects img{
    width: 400px;
    height: 400px;
    height: auto;
}