body {
    background-color: #333;
    background-image: linear-gradient(to bottom, #373B44, #4286f4, #6190E8, #A7BFE8);
    height: 10000px;
    margin:0;
    padding: 0;
}
.navigation{
    list-style: none;
    font-size: 0;
    top: 0px;
    background-color: rgb(50,50,50, 0.50);
    position: sticky;
}
.navigation li{
    display: inline-block;
}
.navigation li a{
    display: block;
    color: white;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    padding: 15px;
}
.navigation li a:hover{
    background-color: rgb(256, 256, 256, 0.3);
    transition: 0.5s;
}